@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

h2 {
  font-family: "Noto Serif", serif;
}

.spin {
  animation: spinning 9s infinite linear;
  transition: all;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
